#configuracoes {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    max-width: 1000px;
    background-color: #112C6D;
    /* Azul */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #EB571D;
    border-bottom: 4px solid #EB571D;
    margin-bottom: 20px;
    /* Laranja */
}

#configuracoes h1 {
    font-size: 2rem;
    color: #EB571D;
    /* Laranja */
    margin-bottom: 20px;
}

::placeholder {
    color: white;
}

.configuracao-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #EB571D;
    /* Laranja */
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 20px);
}

.configuracao-container h2 {
    font-size: 1.4rem;
    color: #EB571D;
    /* Laranja */
    margin-bottom: 10px;
}

.configuracao-container label {
    font-size: 1rem;
    color: #9e9a9a;
    margin-right: 5px;
}

.configuracao-container input[type="text"],
.configuracao-container input[type="file"],
.configuracao-container input[type="number"],
.configuracao-container select {
    padding: 6px;
    margin-bottom: 10px;
    width: calc(100% - 14px);
    border: 1px solid #cce7ff;
    /* Azul claro */
    border-radius: 5px;
    font-size: 0.9rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.1);
    /* Transparente */
}

#salvar-perfil {
    margin-left: 40px;
    margin-top: 140px;
}

.configuracao-container button {
    padding: 8px 16px;
    background-color: #EB571D;
    /* Laranja */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.configuracao-container button:hover {
    background-color: #C84918;
    /* Laranja escuro */
}

#botao-tema {
    margin-top: 10px;
}

#opcoes-tema {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tema-btn {
    background-color: #007bff;
    /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.tema-btn:hover {
    background-color: #0056b3;
    /* Azul escuro */
}

.tema-selector {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #EB571D;
    /* Laranja */
    text-align: left;
}

.tema-selector h2 {
    font-size: 1.4rem;
    color: #EB571D;
    /* Laranja */
    margin-bottom: 10px;
}

#tema-selector {
    padding: 6px;
    margin-bottom: 10px;
    width: calc(100% - 14px);
    border: 1px solid #cce7ff;
    /* Azul claro */
    border-radius: 5px;
    font-size: 0.9rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.1);
    /* Transparente */
}