/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background: rgb(180, 166, 166);
  font-family: 'Lexend Deca', sans-serif;
}

.nav {
  position: fixed;
}

/* Navegação */
.navigation {
  position: relative;
  min-height: 100%;
  background: rgb(17, 60, 109);
  width: 80px;
  box-shadow: 10px 0 0 rgb(235, 87, 29);
  border-left: 10px solid rgb(17, 60, 109);
  overflow: hidden;
  transition: 0.5s;
}

.navigation:hover {
  width: 300px;
}

.navigation ul {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li:hover {
  background-color: rgb(185, 97, 62);
}

.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navigation ul li.active {
  background: rgb(235, 87, 29);
}

.navigation ul li.active a::before {
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: rgb(17, 60, 109);
  border-radius: 50%;
  box-shadow: 15px 15px 0 rgb(235, 87, 29);
}

.navigation ul li.active a::after {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: rgb(17, 60, 109);
  border-radius: 50%;
  box-shadow: 15px -15px 0 rgb(235, 87, 29);
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-left: -4px;
}

/* Adicionando transição suave para a imagem do usuário */
.user-profile img {
  border-radius: 50%;
  width: 60px;
  /* Tamanho reduzido fora do hover */
  height: 60px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px solid #fff8f8;
  transition: width 0.3s ease, height 0.3s ease;
  /* Transição suave */
}

/* Ao passar o mouse na navegação */
.navigation:hover .user-profile img {
  width: 80px;
  /* Tamanho normal ao hover */
  height: 80px;
}

/* Estilizando o texto do nome do usuário */
.user-profile h4 {
  font-size: 7px;
  /* Tamanho reduzido fora do hover */
  color: white;
  transition: font-size 0.3s ease;
  /* Transição suave */
}

/* Ao passar o mouse na navegação */
.navigation:hover .user-profile h4 {
  font-size: 14px;
  /* Tamanho normal ao hover */
}

.container {
  display: block;
  position: relative;
  background-color: white;
  width: 100%;
  border-left: solid 10px orange;
  padding: 100%;
  padding: 10px;
}

.lista {
  margin-top: 120px;
}

#primeiraTela #primeira {
  text-align: center;
  margin-top: 40px;
  margin-left: 120px;
  width: 80%;
  padding: 30px;
  border-radius: 10px;
}

h3 {
  margin-left: 80%;
}

.bx {
  font-size: 24px;
}

/* Alerta de saída */
#alerta {
  display: none;
  /* Inicialmente oculto */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #112C6D;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* Garantir que o alerta apareça sobre outros elementos */
}

#alerta p {
  color: whitesmoke;
  margin-bottom: 10px;
}

#alerta button {
  background-color: #EB571D;
  color: #FFFFFF;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  margin-left: 8px;
}

#alerta button:hover {
  background-color: #C84918;
}