/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #cbced4;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#reservas {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 12px;
    max-width: 1000px;
    background-color: #112C6D;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #EB571D;
    border-bottom: 4px solid #EB571D;
    margin-bottom: 20px;
}

/* Título */
#reserva {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 25px;
    color: #EB571D;
}

/* Filtro de Reservas */
.filtro-reservas {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#filtro,
#data-filtro {
    padding: 10px;
    border: 1px solid #cce7ff;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.1);
}

#filtrar-reservas {
    padding: 10px 20px;
    background-color: #EB571D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#filtrar-reservas:hover {
    background-color: #C84918;
}

/* Tabela de Reservas */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #EB571D;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #EB571D;
    color: #fff;
    font-size: 1.1rem;
}

th,
td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

td {
    font-size: 1rem;
    color: #FFFFFF;
}

/* Container para os Cards */
.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/* Estilo dos Cards */
.card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #EB571D;
    margin: 10px;
    flex: 1;
}

/* Estilos para novos cards */
.dashboard-details {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.card-reservas {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #EB571D;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card-reservas h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #112C6D;
}

.card-reservas p {
    font-size: 1.2rem;
    color: #112C6D;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button-group button {
    background-color: #EB571D;
    color: #FFFFFF;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #C84918;
}

/* Gráficos */
.grafico-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #EB571D;
}

.grafico-placeholder {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.2rem;
}

/* Ajuste para dispositivos pequenos */
@media (max-width: 768px) {

    .card-container,
    .dashboard-details {
        flex-direction: column;
    }
}