/* Estilo geral do body */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(17, 60, 109), rgb(23, 109, 207));
    margin: 0;
    padding: 0;
}

/* Estilo do título no canto superior esquerdo */
header {
    position: absolute;
    top: 10px;
    left: 20px;
}

h1 {
    font-size: 36px;
    background: linear-gradient(to bottom, orangered, orange);
    background-clip: text;
    /* Padrão */
    -webkit-background-clip: text;
    /* WebKit (Chrome, Safari) */
    color: transparent;
    margin: 0;
}


/* Estilo da div de contato */
.contato {
    width: 200px;
    margin-left: 140px;
    margin-top: 20px;
    text-align: center;
    /* Centraliza o texto dentro da div */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo das imagens de contato */
.img1 {
    width: 70px;
    cursor: pointer;
    margin: 10px 0;
    /* Ajusta a margem para melhor espaçamento vertical */
}

.text {
    font-size: 18px;
    font-weight: 600;
}

.img2 {
    margin-left: 125px;
    width: 150px;
    margin-bottom: 10px;
}

/* Estilo do container de login */
.login-container {
    margin-left: -60px;
    background: black;
    padding: 40px;
    border-radius: 10px;
    border-top: 4px solid orangered;
    border-bottom: 4px solid orangered;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .389);
    width: 400px;
    /* Aumenta o tamanho do container */
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 60px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

label,
input {
    font-weight: 600;
    display: block;
    text-align: center;
    width: 95%;
    margin-bottom: 2px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: rgb(17, 60, 109);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s ease;
}

button:hover {
    background-color: rgb(47, 109, 179);
}